<ul class="nav nav-pills nav-fill gap-2 p-1 large bg-secondary rounded-5 shadow-lg" id="pillNav2" role="tablist"
style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-secondary); --bs-nav-pills-link-active-bg: var(--bs-white)">
<li class="nav-item" role="presentation">
  <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true" routerLink=" home">Home</button>
</li>
<li class="nav-item" role="presentation">
  <button class="nav-link rounded-5" id="rec-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" routerLink="viewissue">Issued</button>
</li>
<li class="nav-item" role="presentation">
  <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" routerLink="viewitems">Received</button>
</li>
<li class="nav-item" role="presentation">
  <button  class="nav-link rounded-5" id="logout-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" routerLink="login">Logout</button>
</li>
</ul>
<router-outlet></router-outlet>








